fastapi
uvicorn[standard]
python-multipart
openai-whisper
moviepy
python-dotenv
pydantic
sqlalchemy
alembic
torch
torchvision
torchaudio
jinja2
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
spacy
httpx
